<nav>
<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Roster", roster_path %></li>
		<li><%= link_to "Photos", photos_path %></li>
		<li><%= link_to "Coaches", coaches_path %></li>
		<li><%= link_to "Sponsors", sponsors_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
