<!DOCTYPE html>
<html>
<head>
  <title>Go Lady Warriors! :: <%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<div id="header"></div>
<div id="navigation">
<%= render 'layouts/navigation' %>
</div>
<div id="sidebar">
	<ul>
		<li>Post 1</li>
	</ul>
</div>
<div id="content">
	<%= yield =%>
</div>
<div id="footer">Site Created by Richard Hernandez</div>
</div>


</body>
</html>
